html {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: scroll;
    width: 100%;

    margin: 0 auto 0 auto;
    background: rgb(25,141,47);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: arial, helvetica;
}

.centerCard {
    display: flex;
    justify-content: center;
}

main {
    margin: 0 auto;
    width: 80%;
    min-height: 36rem;
}

nav ul {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid black;
    background: linear-gradient(180deg, rgba(182,180,20,1) 0%, rgba(224,253,31,1) 84%);
    padding-top: 0;
}

nav li {
    flex: 1;
    width: 100%;
    text-align: center;
    border-left: 1px solid black;
    padding: 1rem;
    color: black;
    text-decoration: none;
}

nav li:first-child {
    border-left: none;
}

nav li.selected {
    background-color: black;
    color: white;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: inherit; /* color of parent */
}

nav a:selected {
    color: white;
}

h1 {
    text-align: center;
}

footer {
    padding: 0.5rem 0;
    width: 100%;
    border-top: 1px solid #000;
    text-align: center;
    left: 0;
    bottom: 0;
    background-color: none;
    background: linear-gradient(180deg, rgba(182,180,20,1) 0%, rgba(224,253,31,1) 84%);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 0;
    font-size: 0.5rem;
    background-color: #fff;
    margin-bottom: 2rem;
}

tr {
    border: 0;
}

td {
    border: 1px solid rgb(25,141,47);
}

td {
    height: 9em;
    width: 6.6em;
    vertical-align: top;
}

/* center scoring cell text */
td:nth-child(6),
td:nth-child(13),
td:nth-child(20),
td:nth-child(27),
td:nth-child(34),
tr:nth-child(6)
 {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

td:last-child {
    width: 7em;
}

td form {
    height: 100%;
    width: 100%;
}

td form input[type="submit"] {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: 0;
}

tr td:nth-child(6),
tr td:nth-child(7) {
    background-color: rgb(25,141,47);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

tr td:nth-child(6) {
    color: white;
}

tr td:nth-child(7) {
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

tr:nth-child(6) {
    background-color: rgb(25,141,47);
}

tr:nth-child(6) td {
    border-bottom: 0;
    border-right: 0;
}

div.cardstack {
    background-color: #fff;
}

div.enterName input[type="text"] {
    display: block;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 6rem;
}

div.enterName input[type="text"]:focus {
    background-color: lightyellow;
    outline: none;
}

div.enterName input[type="submit"] {
    display: block;
    height: 100%;
    border-radius: 100%;
    margin: 0 auto;
    font-weight: bold;
    padding: 10px;
    background: rgb(182,180,20);
    background: linear-gradient(180deg, rgba(182,180,20,1) 0%, rgba(224,253,31,1) 84%);
}

.totalScore {
    display: block;
    text-align: center;
    color: #fff;
}

/* Lay cards out in a stacked hand showing indices */
.hand .card:nth-of-type(1) { left: 0; }
.hand .card:nth-of-type(2) { left: 1em; }
.hand .card:nth-of-type(3) { left: 2em; }
.hand .card:nth-of-type(4) { left: 3em; }
.hand .card:nth-of-type(5) { left: 4em; }

.cardstack, .hand {
 position: relative;
 height: 9.6em;
 padding-right: 0;
 border: 2px solid #695d39;
 border-radius: .5em;                       /* omitted -moz- and -webkit- hacks */
 box-shadow: -.25em .25em .5em -.25em #000; /* omitted -moz- and -webkit- hacks */
}

/* card styling */
.card {
  height: 8.85em;
  width: 6.4em;
  background-color: #fff;
  font-family: 'Times', serif;
  line-height: 1em;
  padding-top: .25em;
  padding-left: .1em;
  letter-spacing: -.2em;
  position: absolute;
}

.card {
  /* omitted previous styling */
  background: #fff url('../images/card-set.png') no-repeat;
  background-size: 1300% 400%;
}

/* SUITS */
.C { background-position-y: 0;       color: #000; }
.D { background-position-y: -9.1em; color: #890000; }
.S { background-position-y: -18.2em; color: #000; }
.H { background-position-y: -27.3em;    color: #890000; }

/* RANKS */
.rank02  { background-position-x: -6.5em; }
.rank03  { background-position-x: -13em; }
.rank04  { background-position-x: -19.5em; }
.rank05  { background-position-x: -26em; }
.rank06  { background-position-x: -32.5em; }
.rank07  { background-position-x: -39em; }
.rank08  { background-position-x: -45.5em; }
.rank09  { background-position-x: -52em; }
.rank10 { background-position-x: -58.5em;}
.rank11  { background-position-x: -78em; }
.rank12  { background-position-x: -71.5em; }
.rank13  { background-position-x: -65em; }
.rank14  { background-position-x: 0; }

/* CARDS */
/* hearts */
.rank02H {color: #890000; background-position: -6.5em -27.3em; }
.rank03H {color: #890000; background-position: -13em -27.3em; }
.rank04H {color: #890000; background-position: -19.5em -27.3em; }
.rank05H {color: #890000; background-position: -26em -27.3em; }
.rank06H {color: #890000; background-position: -32.5em -27.3em; }
.rank07H {color: #890000; background-position: -39em -27.3em; }
.rank08H {color: #890000; background-position: -45.5em -27.3em; }
.rank09H {color: #890000; background-position: -52em -27.3em; }
.rank10H {color: #890000; background-position: -58.5em -27.3em; }
.rank11H {color: #890000; background-position: -78em -27.3em; }
.rank12H {color: #890000; background-position: -71.5em -27.3em; }
.rank13H {color: #890000; background-position: -65em -27.3em; }
.rank14H {color: #890000; background-position: 0 -27.3em; }
/* spades */
.rank02S {color: #000; background-position: -6.5em -18.2em; }
.rank03S {color: #000; background-position: -13em -18.2em; }
.rank04S {color: #000; background-position: -19.5em -18.2em; }
.rank05S {color: #000; background-position: -26em -18.2em; }
.rank06S {color: #000; background-position: -32.5em -18.2em; }
.rank07S {color: #000; background-position: -39em -18.2em; }
.rank08S {color: #000; background-position: -45.5em -18.2em; }
.rank09S {color: #000; background-position: -52em -18.2em; }
.rank10S {color: #000; background-position: -58.5em -18.2em; }
.rank11S {color: #000; background-position: -78em -18.2em; }
.rank12S {color: #000; background-position: -71.5em -18.2em; }
.rank13S {color: #000; background-position: -65em -18.2em; }
.rank14S {color: #000; background-position: 0 -18.2em; }
/* diamonds */
.rank02D {color: #890000; background-position: -6.5em -9.1em; }
.rank03D {color: #890000; background-position: -13em -9.1em; }
.rank04D {color: #890000; background-position: -19.5em -9.1em; }
.rank05D {color: #890000; background-position: -26em -9.1em; }
.rank06D {color: #890000; background-position: -32.5em -9.1em; }
.rank07D {color: #890000; background-position: -39em -9.1em; }
.rank08D {color: #890000; background-position: -45.5em -9.1em; }
.rank09D {color: #890000; background-position: -52em -9.1em; }
.rank10D {color: #890000; background-position: -58.5em -9.1em; }
.rank11D {color: #890000; background-position: -78em -9.1em; }
.rank12D {color: #890000; background-position: -71.5em -9.1em; }
.rank13D {color: #890000; background-position: -65em -9.1em; }
.rank14D {color: #890000; background-position: 0 -9.1em; }
/* clubs */
.rank02C {color: #000; background-position: -6.5em 0; }
.rank03C {color: #000; background-position: -13em 0; }
.rank04C {color: #000; background-position: -19.5em 0; }
.rank05C {color: #000; background-position: -26em 0; }
.rank06C {color: #000; background-position: -32.5em 0; }
.rank07C {color: #000; background-position: -39em 0; }
.rank08C {color: #000; background-position: -45.5em 0; }
.rank09C {color: #000; background-position: -52em 0; }
.rank10C {color: #000; background-position: -58.5em 0; }
.rank11C {color: #000; background-position: -78em 0;  }
.rank12C {color: #000; background-position: -71.5em 0; }
.rank13C {color: #000; background-position: -65em 0; }
.rank14C {color: #000; background-position: 0 0; }
